{% extends 'base.html' %}
{% load static %}
{% block title %}
  - About
{% endblock %}
{% block home_button %}
  <div class="col-md-12"> <a href="{% url 'blog:index' %}" class="btn btn-sm animated-button thar-three">3e HOME &nbsp;<i class="fas fa-undo-alt"></i></a> </div>
{% endblock %}

{% block content %}
  <!-- About -->
  {% for data in about %}
    <div class="row services-content">
    <div class="col-md-4">
      <div class="service-header">
        <div class="icon-holder">
          <img src="{% static data.image %}" alt="about" class="icon">
        </div>
        <h4 class="heading">{{ data.title }}</h4>
      </div>
    </div>
    <div class="col-md-8">
    <div class="service-content">
      {% for key, value in data.Data.items %}
        <div class="row">
          <div class="col-md-6">
            <p class="text-center description"><strong>{{ key }}</strong></p>
          </div>
          <div class="col-md-6">
            <p class="text-center-mobile description">{{ value }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    </div>
    </div>
  {% endfor %}
{% endblock %}