{% extends 'base.html' %}
{% load static %}

{% block contents %}
  <section id="home">
    <div class="banner">
      <div class="banner-text">
        <h1 class="responsive-headline">I'm Jonathan Doe.</h1>
        <h3>I'm a Manila based <span>graphic designer</span>, <span>illustrator</span> and <span>webdesigner</span> creating awesome and
          effective visual identities for companies of all sizes around the globe. Let's <a href="">start scrolling</a>
          and learn more <a href="">about me</a>.</h3>
        <hr>
        <ul class="social">
          <li><a href="mailto:soulwawa85@gmail.com"><i class="fas fa-envelope-open"></i></a></li>
          <li><a href="https://www.facebook.com/soulwawa"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="https://github.com/soulwawa"><i class="fab fa-github"></i></a></li>
        </ul>
      </div>
    </div>
  </section>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $('#home').css({ 'height': $(window).height() });
    $(window).on('resize', function() {

      $('header').css({ 'height': $(window).height() });
      $('body').css({ 'width': $(window).width() })
    });
  </script>
{% endblock %}