/* screenwidth less than 1024px
--------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {

  /* header styles
 ------------------------------------------------------------------ */
  #home .banner-text h1 {
    font: 80px/1.1em 'Noto Sans KR', sans-serif;
    letter-spacing: -1px;
    margin: 0 auto 12px auto;
  }

}

/* screenwidth less than 900px */
@media only screen and (max-width: 900px) {
  /* header styles
   ------------------------------------------------------------------ */
  #home .banner { padding-bottom: 12px; }
  #home .banner-text h1,
  #about h1,
  #portfolio h1 {
    font: 78px/1.1em 'Noto Sans KR', sans-serif;
    letter-spacing: -1px;
  }
  #home .banner-text h3 {
    font: 17px/1.9em 'Noto Sans KR', sans-serif;
    width: 80%;
  }
  #home .banner-text hr,
  #portfolio hr {
    width: 80%;
    margin: 12px auto;
  }
  #portfolio h3,
  #portfolio h5,
  #portfolio p {
    font-size: 0.5rem;
  }
  footer div p {
    font-size: 14px;
  }
}

/* mobile wide/smaller tablets  */
@media only screen and (max-width: 767px) {
  #home .banner {
    padding-bottom: 12px;
    padding-top: 6px;
  }
  #home .banner-text h1,
  #about h1,
  #portfolio h1 {
    font: 68px/1.1em 'Noto Sans KR', sans-serif;
  }
  #home .banner-text h3 {
    font: 16px/1.9em 'Noto Sans KR', sans-serif;
    width: 85%;
  }
  #home .banner-text hr {
    width: 80%;
    margin: 18px auto;
  }

  /* header social links */
  header .social {
    margin: 18px 0 24px 0;
    font-size: 24px;
    line-height: 36px;
  }
  header .social li { margin: 0 10px; }
}
/* mobile narrow */
@media only screen and (max-width: 480px) {
  #home .banner { padding-top: 24px; }
  #home .banner-text h1,
   #about h1,
  #portfolio h1 {
    font: 40px/1.1em 'Noto Sans KR', sans-serif;
    margin: 0 auto 24px auto;
  }
  #home .banner-text h3 {
    font: 14px/1.9em 'Noto Sans KR', sans-serif;
    width: 90%;
  }

  /* header social links */
  header .social { font-size: 20px;}
  header .social li { margin: 0 6px; }

  /* footer
  ------------------------------------------------------------------------ */

  /* social links */
  footer .social-links { font-size: 20px; }
  footer .social-links li { margin-left: 14px; }
}