:lang(ko) {
  font-family: 'Noto+Sans+KR', serif
}

:lang(en) {
  font-family: "Audiowide", serif
}

body {
	font-family: 'Noto+Sans+KR', sans-serif;
	font-size: 14px;
	overflow-x: hidden;
	color: #2a3237;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	position: relative;
	margin: 10px 0;
}

p {
	font-size: 15px;
	color: black;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}


.container {
	position: relative;
	z-index: 1;
}

a {
	text-decoration: none;
	color: #00a8ff;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

header .container {
	height: 100%;
}

.row.title {
	/*padding: 0 20px;*/
}

.services {
	margin: 40px 0;
}

.services-content {
	margin: 0;
}
.blog-content {
	margin: 0;
}

/* Sections */
section {
	position: relative;
}

.section {
	background: #fff;
}

.title {
	margin: 50px 0;
}

.heading {
	padding: 30px;
	font-family: Audiowide, sans-serif;
}

.service {
	width: 100%;
	height: 320px;
	margin: 80px 0;
	text-align: center;
	border: 1px solid #ddd;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.service-header {
	width: 100%;
	height: 220px;
	margin: 40px 0;
	text-align: center;
	border: 1px solid #ddd;
}

.service-header-log {
	height: 120px;
	margin: 20px 0;
}

.service-content {
	width: 100%;
	height: 220px;
	margin: 40px 0;
	border: 1px solid #ddd;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.service-content-log {
	height: 120px;
	margin: 20px 0;
}

.service .icon-holder {
	position: relative;
	top: 100px;
	display: inline-block;
	margin-bottom: 40px;
	padding: 10px;
	background: white;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.service-header .icon-holder {
	position: relative;
	top: 10px;
	display: inline-block;
	padding: 10px;
	background: white;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.service .heading {
	position: relative;
	top: 80px;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.service-header .heading {
	position: relative;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.heading-log-title {
	font-size: 20px;
}
.service-content-log .heading-log-title {
	font-family: 'Noto+Sans+KR', sans-serif;
	font-size: 20px;
}
.service .icon-holder > img.icon,
.service-header .icon-holder > img.icon {
	width: 80px;
}

.icon-holder i{
	font-size: 50px;
	margin-top: 15px;
	/*margin-bottom: 25px;*/
}
.service:hover {
	border-color: #00a8ff;
}

.service:hover .icon-holder {
	top: -30px;
}

.service:hover .heading {
	top: -30px;
}

.service .description {
	width: 80%;
	margin: 0 auto;
	opacity: 0;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.service:hover .description {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.service-content .description {
	padding-top: 20px;
}

/* Footer */

footer {
	-webkit-background-size: cover;
	background-size: cover;
}

.social-footer {
	padding: 0;
	list-style: none;
}

.social-footer li {
	display: inline-block;
	margin: 0 10px;
}

.social-footer li a {
	font-size: 24px;
	color: black;
}

.social-footer li:hover a {
	color: #00a8ff;
}

footer > div > div > div.col-sm-8 > p {
	padding-left: 15px;
}

a.animated-button.thar-three {
	color: black;
	cursor: pointer;
	display: block;
	position: relative;
	border: 1px solid #ddd;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	font-size: 24px;
	font-family: Audiowide, 'sans-serif';
}
a.animated-button.thar-three:hover {
	color: white !important;
	background-color: transparent;
}
a.animated-button.thar-three:hover:before {
	left: 0;
	right: auto;
	width: 100%;
}
a.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 0;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: black;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
hr {
	border-top: 1px solid black;
}

/*devlog search*/
#short-text {
	display: none;
}

.log-left {
	padding: 0;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }


@media(max-width:992px) {
	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 20px;
	}
	h5 {
		font-size: 16px;
	}
	h6 {
		font-size: 12px;
	}
	.section {
		padding: 30px 0;
	}
	#short-text {
		display: inline-block;
	}
	#full-text {
		display: none;
	}
}

/* Media Queries */

@media(max-width:991px) {
	.text-center-mobile {
		text-align: center !important;
	}
	.service-content {
		height: auto;
	}
	.icon-holder.col-md-2{
		display: none;
	}
	.log-left {
		padding: 15px;
	}
}



