html {
  background: #FEAC5E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FEAC5E,  #C779D0, #4BC0C8 );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FEAC5E,  #C779D0, #4BC0C8 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Noto Sans KR', sans-serif !important;
  font-weight: 400;
  min-height: 100%;
}

body, h1, h2, h3, h4, h5, h6, span, p {
  font-family: 'Noto Sans KR', sans-serif !important;
  font-weight: 400;
}

h1, h2 {
  font-weight: 900 !important;
}

h5 {
  font-weight: 700 !important;
}

header {
  width: 100%;
  text-align: center;
}

#nav-wrap {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
}

#nav-wrap ul {
  padding: 0;
}

#nav-wrap > a.mobile-btn {
  display: none;
}

ul#nav li {
  list-style: none;
  display: inline-block;
}

ul#nav li a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-weight: 900;
}

#home {
  width: 100%;
  text-align: center;
}

/* vertically center banner section */
#home:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
#home .banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  text-align: center;
}

#home .banner-text {width: 100%;}
#home .banner-text h1 {
  font: 90px/1.1em 'Noto Sans KR', sans-serif;
  color: white;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .8);
  font-weight: 900;
}

#about h1,
#portfolio h1 {
  font: 80px/1.1em 'Noto Sans KR', sans-serif;
  color: white;
  letter-spacing: 5px;
  margin: 0 auto 18px auto;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .8);
  font-weight: 900;
}

#home .banner-text h3 {
  font: 18px/1.9em 'Noto Sans KR', sans-serif;
  color: black;
  margin: 0 auto;
  width: 70%;
  font-weight: 700;
  letter-spacing: 3px;
  /*text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);*/
}
#home .banner-text h3 span,
#home .banner-text h3 a {
  color: white;
  font-size: 1.2em;
}
#home .banner-text hr {
  width: 60%;
  margin: 18px auto 24px auto;
  border-color: #2F2D2E;
  border-color: rgba(150, 150, 150, .1);
}


.social {
  margin: 24px 0;
  padding: 0;
  font-size: 30px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
}
.social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}
.social li a { color: #fff; }
.social li a:hover { color: #11ABB0; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer div {
  text-align: center;
}

footer p {
  font-weight: bold;
  letter-spacing: 2px;
}

.skills ul {
  list-style: none;
  padding: 0;
}

.skills ul li {
  background: transparent;
  display: inline-block;
  list-style: none;
  margin: 0 1rem 1rem 1rem;
  padding: 0;
  text-align: center;
}

.inner-skills {
  display: table-cell;
  position: relative;
}

.inner-skills img{
  height: 4.5rem;
  width: 4.5rem;
}

.skills ul li span:nth-child(2) {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  right: 0;
}

.image-middle {
  width: 80%;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#portfolio > div > div > div > div:hover .image-middle {
  opacity: 1;
}

.image-text {
  background: rgb(54, 25, 25);
  color: white;
}

.project-header {
  padding-top: 48px !important;
}