{% extends 'index.html' %}
{% load static %}
{% block title %}
  - Project
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/w3.css' %}">
  <style>
    html {
      overflow: auto;
    }
    .w3-margin-top {
      margin-top: 50px !important;
    }
    #portfolio > div > div.w3-row:after {
      clear: none;
    }
  </style>
{% endblock %}

{% block contents %}
  <section id="portfolio">
     <!-- Header -->
      <div class="w3-container w3-center project-header">
        <h1>Project, My Portfolio</h1>
      </div>

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

      <!-- Grid -->
      <div class="w3-row">

        <!-- Blog entries -->
        <div class="w3-col l12 s12">
          <!-- Blog entry -->
          {% for project in project_data %}
            <div style="cursor: pointer" class="w3-card-4 w3-margin w3-display-container">
              <img class="w3-hover-opacity" src="{% static 'image/project/' %}{{ project.image }}.png" alt="" style="width:100%">
              <div class="image-middle">
                <div class="w3-container image-text">
                  <h3><b>{{ project.title }}</b></h3>
                  <p>
                    <button class="w3-button w3-padding-large w3-border" onclick="showText('{{ project.image }}')"><b>READ MORE »</b></button>
                    &nbsp;&nbsp;&nbsp;
                    {% if project.demo %}
                      <a href="{{ project.demo }}" class="w3-button w3-padding-large w3-border"><b>Demo More »</b></a>
                    {% endif %}
                  </p>
                </div>
              </div>
            </div>
            <div class="w3-container w3-hide w3-text-white" id="{{ project.image }}">
              <h3><b>TITLE: {{ project.title }}</b>, <span class="w3-opacity">{{ project.period }}</span></h3>
              <h5>SUMMARY: {{ project.summary }}</h5>
              <h5>ROLE: {{ project.role }}</h5>
              <h5>SKILLS: {{ project.skills }}</h5>
            </div>
            <hr>
          {% endfor %}
          <br>
          <br>
          <!-- END BLOG ENTRIES -->
        </div>
        <!-- END GRID -->
      </div><br>

      <!-- END w3-content -->
    </div>
  </section>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    function showText(id) {
      var showId = document.getElementById(id);
      if (showId.className.indexOf('w3-show') === -1){
        showId.className += ' w3-show';
        window.scrollBy(0,100)
      }else {
        showId.className = showId.className.replace(' w3-show', '')
        window.scrollBy(0,-100)
      }
    }
  </script>
{% endblock %}