{% extends 'base.html' %}
{% load static %}
{% block title %}
  - About
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/w3.css' %}">
  <style>
    .w3-margin-top {
      margin-top: 50px !important;
    }
  </style>
{% endblock %}

{% block contents %}
  <section id="about">
    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

      <!-- The Grid -->
      <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

          <div class="w3-white w3-text-grey w3-card-4">
            <div class="w3-display-container">
              <img src="{% static 'image/3e.jpeg' %}" style="width:100%" alt="Avatar">
              <div class="w3-display-bottomleft w3-container w3-text-black">
                <h2>KO SEOK MAN</h2>
              </div>
            </div>
            <div class="w3-container">
              <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Developer</p>
              <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Seoul, Korea</p>
              <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>soulwawa85@gmail.com</p>
              <hr>

              <p class="w3-large"><b><i class="fas fa-bookmark fa-fw w3-margin-right w3-text-teal"></i>Main Skills</b></p>
              <div class="skills">
                <ul>
                  <li>
                    <div class="inner-skills">
                      <span><img src="{% static 'image/python.svg' %}" alt="Python"></span>
                      <span><strong>Python</strong></span>
                    </div>
                  </li>
                  <li>
                    <div class="inner-skills">
                      <span><img src="{% static 'image/django.svg' %}" alt="Django"></span>
                      <span><strong>Django</strong></span>
                    </div>
                  </li>
                  <li>
                    <div class="inner-skills">
                      <span><img src="{% static 'image/PostgreSQL.svg' %}" alt="PostgreSQL"></span>
                      <span><strong>PostgreSQL</strong></span>
                    </div>
                  </li>
                  <li>
                    <div class="inner-skills">
                      <span><img src="{% static 'image/mongodb.svg' %}" alt="MongoDB"></span>
                      <span><strong>MongoDB</strong></span>
                    </div>
                  </li>
                </ul>
              </div>
              <br>

              <p class="w3-large w3-text-theme"><b><i class="fas fa-bookmark fa-fw w3-margin-right w3-text-teal"></i>Sub Skills</b></p>
              <div class="skills">
                <ul>
                  <li>
                    <div class="inner-skills">
                      <span><img src="{% static 'image/html.png' %}" alt="HTML"></span>
                      <span><strong>HTML</strong></span>
                    </div>
                  </li>
                  <li>
                    <div class="inner-skills">
                      <span><img src="{% static 'image/css.png' %}" alt="CSS"></span>
                      <span><strong>CSS</strong></span>
                    </div>
                  </li>
                  <li>
                    <div class="inner-skills">
                      <span><img src="{% static 'image/js.png' %}" alt="JS"></span>
                      <span><strong>JS</strong></span>
                    </div>
                  </li>
                  <li>
                    <div class="inner-skills">
                      <span><img src="{% static 'image/neo4j.svg' %}" alt="Neo4j"></span>
                      <span><strong>Neo4j</strong></span>
                    </div>
                  </li>
                </ul>
              </div>
              <br>
              <p class="w3-large w3-text-theme"><b><i class="fas fa-bookmark fa-fw w3-margin-right w3-text-teal"></i>DevOps</b></p>
              <div class="skills">
                <ul>
                  <li>
                    <div class="inner-skills">
                      <span><img src="{% static 'image/git.svg' %}" alt="GIT"></span>
                      <span><strong>GIT</strong></span>
                    </div>
                  </li>
                  <li>
                    <div class="inner-skills">
                      <span><img src="{% static 'image/github.svg' %}" alt="GITHUB"></span>
                      <span><strong>GITHUB</strong></span>
                    </div>
                  </li>
                  <li>
                    <div class="inner-skills">
                      <span><img src="{% static 'image/yona.png' %}" alt="YONA"></span>
                      <span><strong>YONA</strong></span>
                    </div>
                  </li>
                </ul>
              </div>
              <br>
            </div>
          </div><br>
        </div>
        <!-- End Left Column -->

        <!-- Right Column -->
        <div class="w3-twothird">
          <!-- Work Experience -->
          <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
            <div class="w3-container">
              <h5 class="w3-opacity"><b> Developer / 디플랫폼 Dplatform</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2018 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
              <p>차세대 정보보안 R&D (Cyber Threat Intelligence R&D)</p>
              <p>국가 차원의 침해사고 대응을 위한 사이버 위협 인텔리전스 분석(CTI) 및 정보 공유 기술 개발</p>
              <p>사이버 위협 정보 웹 크롤링, 데이터 파싱, 데이터 마이닝(정규화, 분석, 통계)</p>
              <p>사이버 위협 정보 수집 시스템 운영</p>
              <p>CTI 정보보안 데이터 웹 플랫폼 구축 - <a href="https://www.malinfo.net">Malinfo</a> </p>
              <hr>
            </div>
          </div>
          <!-- Education -->
          <div class="w3-container w3-card w3-white">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>센서, 네트워크 기반의 IoT 융합서비스 개발자 양성과정 - KPC</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2017 - Apr 2018</h6>
              <p>JAVA, Python, MySQL, Spring Boot. Flask, Android 기술 습득</p>
              <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>학점은행제 - 컴퓨터공학부</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2012 - Feb 2013</h6>
              <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>경기대학교 - 건축학과</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2004 - Mar 2011</h6>
              <hr>
            </div>
          </div>
          <!-- License -->
          <div class="w3-container w3-card w3-white">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>License</h2>
            <div class="w3-container">
              <h6 class="w3-opacity"><b>정보처리기사</b></h6>
              <h6 class="w3-opacity"><b>컴퓨터 활용능력 1급</b></h6>
              <h6 class="w3-opacity"><b>워드프로세서 1급</b></h6>
              <h6 class="w3-opacity"><b>소프트웨어 자산관리사 2급</b></h6>
            </div>
          </div>
          <!-- Prize -->
          <div class="w3-container w3-card w3-white">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Prize</h2>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>센서, 네트워크 기반의 IoT 융합서비스 개발자 양성과정 우수상</b></h5>
              <p>프로젝트명 : 비상구와 소화기를 활용한 빌딩 재난관리 서비스</p>
            </div>
          </div>
          <br><br><br><br>
          <!-- End Right Column -->
        </div>
        <!-- End Grid -->
      </div>
      <!-- End Page Container -->
    </div>


  </section>
{% endblock %}

{% block footer %}
  <footer class="w3-container w3-teal w3-center w3-margin-top">
    <p>Copyright 2018-2019. 3e All rights reserved.</p>
  </footer>
{% endblock %}