{% extends 'index.html' %}
{% load static %}
{% block title %}
  - Project
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/w3.css' %}" xmlns="http://www.w3.org/1999/html">
  <style>
    html {
      overflow: auto;
    }
    .w3-margin-top {
      margin-top: 50px !important;
    }
    #blog > div > div.w3-row:after {
      clear: none;
    }
  </style>
{% endblock %}

{% block contents %}
  <section id="blog">
    <!-- Header -->
    <div class="w3-container w3-center project-header">
      <h1>Blog, My Posting</h1>
    </div>

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

      <!-- Grid -->
      <div class="w3-row">
        <div class="w3-col m9 infinite-container">
          <div class="w3-row-padding">
            <div class="w3-col m12">
              <div class="w3-card w3-round w3-white">
                <div class="w3-container w3-padding">
                  <label for="search-blog">
                    <i class="fas fa-search"></i>&nbsp;<b>Search Dev Log </b>
                    <input type="text" class="w3-input w3-animate-input" id="search-blog"/>
                  </label>
                </div>
              </div>
            </div>
          </div>
          {% for post in post_list %}
            <div class="w3-container w3-card w3-white w3-round w3-margin infinite-item"><br>
              <span class="w3-left w3-opacity">
                {% for tag in post.tag_set.all %}
                  <a href="#" style="text-decoration: none">#{{ tag }}</a>
                {% endfor %}
              </span>
              <span class="w3-right w3-opacity">{{ post.updated_at }}</span><br>
              <h4>{{ post.title }}</h4>
            </div>
          {% endfor %}
        </div>
        <!-- Right Column -->
        <div class="w3-col m2">
          <div class="w3-card w3-round w3-white w3-center">
            <div class="w3-container">
              <p>#TAG</p>
              <p>
                {% for tag in tag_list %}
                  <span class="w3-tag w3-large">{{ tag }}</span>
                {% endfor %}
              </p>
            </div>
          </div>
          <!-- End Right Column -->
        </div>

        <!-- End Grid -->
      </div>
    </div>
    {% if page_obj.has_next %}
      <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
    {% endif %}
  </section>
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.waypoints.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/infinite.min.js" %}"></script>

  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0]
    });
  </script>
{% endblock %}