{% extends 'base.html' %}
{% load static %}
{% block title %}
  - Project
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/w3.css' %}">
  <style>
    .w3-margin-top {
      margin-top: 50px !important;
    }
    #portfolio > div > div.w3-row:after {
      clear: none;
    }
  </style>
{% endblock %}

{% block contents %}
  <section id="portfolio">

    <!-- Page Container -->
    <div class="w3-content" style="max-width:1400px">

      <!-- Header -->
      <div class="w3-container w3-center project-header">
        <h1>My Project, Portfolio</h1>
      </div>

      <!-- Grid -->
      <div class="w3-row">

        <!-- Blog entries -->
        <div class="w3-col l12 s12">
          <!-- Blog entry -->
          {% for project in project_data %}
            <div style="cursor: pointer" class="w3-card-4 w3-margin w3-display-container">
            <img class="w3-hover-opacity" src="{% static 'image/project/' %}{{ project.image }}.png" alt="" style="width:100%">
            <div class="image-middle">
              <div class="w3-container image-text">
                <h3><b>{{ project.title }}</b></h3>
                <h5>{{ project.summary }}, <span class="w3-opacity">{{ project.period }}</span></h5>
                <p>
                  <a href="" class="w3-button w3-padding-large w3-border"><b>READ MORE »</b></a>
                  &nbsp;&nbsp;&nbsp;
                  {% if project.read_more %}
                    <a href="{{ project.read_more }}" class="w3-button w3-padding-large w3-border"><b>READ MORE THAN »</b></a>
                  {% endif %}
                </p>
              </div>
            </div>
            <!-- TODO 아코디언 추가 -->
              <div class="w3-container w3-hide">
                <h3><b>TITLE HEADING</b></h3>
                <h5>Title description, <span class="w3-opacity">April 7, 2014</span></h5>
                <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
                  tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
              </div>
            </div>
            <hr>
          {% endfor %}
          <!-- END BLOG ENTRIES -->
          </div>
          <!-- END GRID -->
        </div><br>

        <!-- END w3-content -->
      </div>
  </section>
{% endblock %}