{% extends 'base.html' %}
{% load static %}
{% block title %}
  - Project
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/w3.css' %}">
  <style>
    .w3-margin-top {
      margin-top: 50px !important;
    }
  </style>
{% endblock %}

{% block contents %}
  <section id="portfolio">

    <!-- Page Container -->
    <div class="w3-content" style="max-width:1400px">

      <!-- Header -->
      <header class="w3-container w3-center w3-padding-48">
        <h1 class="w3-text-white"><b>My Project, Portfolio</b></h1>
      </header>

      <!-- Grid -->
      <div class="w3-row">

        <!-- Blog entries -->
        <div class="w3-col l12 s12">
          <!-- Blog entry -->
          {% for project in project_data %}
            <div style="cursor: pointer" class="w3-card-4 w3-margin w3-display-container">
              <img class="w3-hover-opacity" src="{% static 'image/project/' %}{{ project.image }}.png" alt="" style="width:100%">
              <div class="image-middle">
                <div class="w3-container image-text">
                  <h3><b>{{ project.title }}</b></h3>
                  <h5>{{ project.summary }}, <span class="w3-opacity">{{ project.period }}</span></h5>
                  <p>
                    <a href="{{ project.read_more }}" class="w3-button w3-padding-large w3-border"><b>READ MORE »</b></a>
                    {% if project.add_file %}
                      &nbsp;&nbsp;
                      <a href="{{ project.add_file }}" class="w3-button w3-padding-large w3-border"><b>READ MORE THAN »</b></a>
                    {% endif %}
                  </p>
                </div>
              </div>
            </div>
            <hr>
          {% endfor %}
          <!-- END BLOG ENTRIES -->
        </div>
        <!-- END GRID -->
      </div><br>

      <!-- END w3-content -->
    </div>
  </section>
{% endblock %}