{% extends 'base.html' %}
{% block content %}
  <div class="row services">
    <div class="col-md-4">
      <div class="service" onclick="location.href='/';">
        <div class="icon-holder">
          <img src="../static/image/noun_Information_753148.png" alt="about" class="icon">
        </div>
        <h4 class="heading">About</h4>
        <p class="description">3e..</p>
      </div>
    </div>
    <div class="col-md-8">
      <div class="service-content">
        <div class="row">
          <div class="col-md-6">
            <p class="text-center description">NAME</p>
          </div>
          <div class="col-md-6">
             <p class="text-left description">고 석 만 / Ko Seok Man</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="text-center description">JOB</p>
          </div>
          <div class="col-md-6">
             <p class="text-left description">개 발 자  / Developer</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="text-center description">Email</p>
          </div>
          <div class="col-md-6">
             <p class="text-left description">soulwawa85@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}