{% extends 'base.html' %}
{% block home_button %}
  <div class="col-md-12"> <a href="{% url 'blog:index' %}" class="btn btn-sm animated-button thar-three">3e HOME &nbsp;<i class="fas fa-undo-alt"></i></a> </div>
{% endblock %}

{% block content %}
  <!-- Detail -->
  <div class="row services-content">
    <div class="col-md-2">
      <div class="service-header service-header-log">
        <div class="icon-holder">
          <img src="../static/image/noun_note_1470872.png" alt="log" class="icon">
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="service-content service-content-log">
        <span class="input input--3e col-md-12">
					<input class="input__field input__field--3e" type="text" id="input-log">
					<label class="input__label input__label--3e" for="input-log">
						<span lang="en" class="input__label-content input__label-content--3e" id="full-text">Search Here - Dev notes are incorrect answer notes for studying development. </span>
            <span lang="en" class="input__label-content input__label-content--3e" id="short-text">Search Dev Log</span>
					</label>
				</span>
      </div>
    </div>
  </div>
  <hr>
  <!-- Blog Contents -->
  {% for post in post_list %}
    <div class="row services-content">
      <div class="col-md-2">
        <div class="service-header service-header-log">
          <div class="icon-holder">
            {% for tag in post.tag_set.all|slice:":1" %}
                  <i class="{{ tag.name_url }}"></i>
              <br><span class="text-center">{{ tag }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-md-10">
        <div class="service-content service-content-log">
          <h4 class="heading heading-log-title"> {{ post.title }} {{ post.updated_at|date:'Y-M-D H:i' }}</h4>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}