{% extends 'base.html' %}
{% load static %}
{% block home_button %}
  <div class="col-md-12"> <a href="{% url 'blog:index' %}" class="btn btn-sm animated-button thar-three">3e HOME &nbsp;<i class="fas fa-undo-alt"></i></a> </div>
{% endblock %}

{% block content %}
  <!-- Project(job) -->
  <div class="row services-content">
    <div class="col-md-4">
      <div class="service-header">
        <div class="icon-holder">
          <img src="{% static 'image/noun_Accounts Project_1875474.png' %}" alt="project" class="icon">
        </div>
        <h4 class="heading">Project - JOB </h4>
      </div>
    </div>
    <div class="col-md-8">
      <div class="service-content">
        <div class="row">
          <div class="col-md-6">
            <p class="text-center description"><strong>TITLE</strong></p>
          </div>
          <div class="col-md-6">
            <p class="text-center-mobile description">
              Cyber Threat Intelligence Collection System
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="text-center description"><strong>Position</strong></p>
          </div>
          <div class="col-md-6">
            <p class="text-center-mobile description">Python Developer</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="text-center description"><strong>Skill</strong></p>
          </div>
          <div class="col-md-6">
            <p class="text-center-mobile description">Python, Django, MongoDB</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="text-center description"><strong>Detail</strong></p>
          </div>
          <div class="col-md-6">
            <p class="text-center-mobile description">KISA R&D Project, Detail - Private</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Project(public_mysite) -->
  <div class="row services-content">
    <div class="col-md-4">
      <div class="service-header">
        <div class="icon-holder">
          <img src="{% static 'image/noun_Accounts Project_1875474.png' %}" alt="project" class="icon">
        </div>
        <h4 class="heading">Project - Public </h4>
      </div>
    </div>
    <div class="col-md-8">
      <div class="service-content">
        <div class="row">
          <div class="col-md-6">
            <p class="text-center description"><strong>TITLE</strong></p>
          </div>
          <div class="col-md-6">
            <p class="text-center-mobile description">
              MySite, Blog, Dev Note
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="text-center description"><strong>Position</strong></p>
          </div>
          <div class="col-md-6">
            <p class="text-center-mobile description">All-round</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="text-center description"><strong>Skill</strong></p>
          </div>
          <div class="col-md-6">
            <p class="text-center-mobile description">Python-Django, PostgreSQL, Bootstrap4, Jquery3.3</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="text-center description"><strong>Detail</strong></p>
          </div>
          <div class="col-md-6">
            <p class="text-center-mobile description">
              <a href="/" target="_blank">
                HOME</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Project(public_IOT) -->
  <div class="row services-content">
    <div class="col-md-4">
      <div class="service-header">
        <div class="icon-holder">
          <img src="{% static 'image/noun_Accounts Project_1875474.png' %}" alt="project" class="icon">
        </div>
        <h4 class="heading">Project - Public </h4>
      </div>
    </div>
    <div class="col-md-8">
      <div class="service-content">
        <div class="row">
          <div class="col-md-6">
            <p class="text-center description"><strong>TITLE</strong></p>
          </div>
          <div class="col-md-6">
            <p class="text-center-mobile description">
              Smart Building Project with IoT
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="text-center description"><strong>Position</strong></p>
          </div>
          <div class="col-md-6">
            <p class="text-center-mobile description">Backend Developer</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="text-center description"><strong>Skill</strong></p>
          </div>
          <div class="col-md-6">
            <p class="text-center-mobile description">Java, SpringBoot, Mysql</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="text-center description"><strong>Detail</strong></p>
          </div>
          <div class="col-md-6">
            <p class="text-center-mobile description">
              <a href="https://github.com/soulwawa/ISAVEU" target="_blank">
                https://github.com/soulwawa/ISAVEU</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}